{% extends 'apps/base.html' %}
{% block content %}
<div class="detail-page">
  <h1><center>{{ post.title }}</center></h1>
  {% if post.published_date %}

  <center><p>{{ post.published_date }}</p></center>
  {% else %}
  <a class="btn btn-primary"href="{% url "post_publish" pk=post.pk %}">Publish</a>
  {% endif %}
  <p>{{ post.text|safe }}</p>
  {% if user.is_authenticated %}
    <a class="btn btn-outline-warning"href="{% url "post_edit" pk=post.pk %}">Edit</a>
    <a class="btn btn-outline-danger"href="{% url "post_remove" pk=post.pk %}">Delete</a>
  {% endif %}
  <hr>
  <a class="btn btn-success "href="{% url "add_comment_to_post" pk=post.pk %}">Add comment</a><br><br>
  {% for comment in post.comments.all %}

    {% if user.is_authenticated or comment.approved_comment %}
    <p>Created:{{ comment.create_date|date:'d-m-Y'}}</p>
      {% if not comment.approved_comment %}
      <a class="btn btn-outline-danger" href="{% url 'comment_remove' pk=comment.pk %}">Delete</span></a>
      <a class="btn btn-outline-success" href="{% url 'comment_approve' pk=comment.pk %}">Approve</span></a>
      {% endif %}
      <p>{{ comment.text|safe }}</p>
      <small>Posted by:{{comment.author}}</small>
      <hr>

    {% endif %}

  {% endfor %}
</div>
{% endblock %}
